.container{
    margin: 0 auto;
    min-height: calc(100vh - 64px);
    max-width: 1200px;
}
.wrapper{
    height: 100%;
}
.Top{
    background-color: #e9efff;
}
.TopBanner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.TopBannerItem{
    flex: 1;
}