.loading-page {
  position: fixed;
  z-index: 1200;
  background-color: #fff;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loading-bar {
  height: 10px;
  width: 100%;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  animation: loadingBar 30s linear infinite;
  align-self: self-start;
}

@keyframes loadingBar {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.logo-loading {
  height: 200px;
  width: 200px;
  padding: 20px;
  overflow: hidden;

  position: relative;
  top: 0;
  left: 0;

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-top: 2px solid var(--primary-color);
    border-radius: 50%;
    top: 0;
    left: 0;
    animation: loading-rotate 3s linear infinite;

  }

  // animation: loadingLogo 30s linear infinite;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }
}

@keyframes loading-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes loadingLogo {
  0% {
    left: -10%;
    transform: rotateY(-180deg);

  }

  49% {
    transform: rotateY(-180deg);

  }

  50% {
    left: 100%;
  }

  51% {
    left: 100%;
    transform: rotateY(360deg);
  }

  100% {
    left: 0;
    transform: rotateY(360deg);

  }
}