.MenuBottom{
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 72px;
    z-index: 10001;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    box-shadow: var(--boxShadow);
    padding: 0 4px;
    background-color: #fff;
    display: none;
}
.ButtonBottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.active{
    color: var(--primary-color) !important;
}
// ////////////////

@media (max-width:740px) {
    .MenuBottom{
        display: flex;
    }
}