.SliderHotSale {
    height: 500px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
padding: 10px;
.heading_banner{
    display: flex;
    justify-content: space-between;
}
.time_sale{
    display: flex;
    align-items: center;
    gap: 10px;
    h2{
        color: var(--primary-color);
        font-weight: 600;
        font-size: 24px;
    }
}
.clock_banner{
    display: flex;
    align-items: center;
    gap: 10px;
    p{
        padding: 10px ;
        background-color: #ffffff;
        color: var(--primary-color);
        font-weight: 600;
        height: 40px;
        width: 40px;
        text-align: center;
        border-radius: 10px;
        font-size: 20px;
        box-shadow: var(--boxShadow);
    }
}

    .mySwiperSliderHotSale {
        height: 350px;
        width: 100%;
    }
    .swiper-wrapper{
        gap: 0;
    }
    .swiper-slide {
        padding: 6px;
        border-radius: 10px;
    }
    .Title{
        height: 100px;
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        img{
            height: 100%;
            width: 100%;object-fit: contain;
        }
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 740px) {

    .clock_banner{
        p{
            height: 30px !important;
            width: 30px !important;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}