.ProductHomePage {
    width: min(100% - 20px , 1200px);
    margin-inline:auto ;
    margin: 20px auto;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #ccc;
        top: 100%;
        left: 0;
    }
}

.FilterCategory {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.BrandProductHome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

}

.BrandProductItemHome {
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

.FilterProduct {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px
}

.FilterList {
    display: flex;
    align-items: center;
    gap: 10px;
}

.FilterItem {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    white-space: nowrap;
    cursor: pointer;
}

.ListProductHome {
    justify-content: flex-start;
    width: 100%;
    margin: 0;
}

.ProductItemHome {
    height: 400px;
}
.col-lg-2{
    width: 20% !important;
}


.ProductHomeItem {
    width: 100%;
    height: 100%;
    box-shadow: var(--boxShadow);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 6px;
    position: relative;
    cursor: pointer;

    &:hover>.ImageProductItem {
        transform: scale(1.1);
        transition: all .2s linear;
    }

    &:hover img {
        transform: scale(1.03);
        transition: all .2s linear;
    }
}

.ProductDiscount {
    position: absolute;
    top: 4px;
}

.ImageProductItem {
    height: 160px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.ProductItemInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}

.ProductItemTitle {
    font-size: 14px;
    height: 40px;
    line-height: 1.4;
    overflow: hidden;
    font-weight: 500;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-wrap: break-word;
}

.ProductItemPrice {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    overflow: hidden;

    p {
        font-weight: 600;
        font-size: 14;
    }
}

.AddCart {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: #fff;
    margin-top: 10px;
    justify-content: center;
}

.ProductLike {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    width: 100%;
    flex: 1;
    justify-content: end;
}

.MoreListProduct {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    margin-bottom: 10px;

    .ButtonMore {
        padding: 6px 10px;
        box-shadow: var(--boxShadow);
        border-radius: 6px;
        color: var(--primary-color);
    }

}

@media (max-width:740px) {
    .SliderCategory2{
        display: none;
    }
    .ProductHomePage {
        width: 100vw;
    }

    .BrandProductHome {
        overflow-x: scroll;
    }

    .ProductItemHome {
        width: 49%;
    }

    .ProductItemPrice {
        p {
            font-size: 13px;
            font-weight: 400;
        }
    }

    .FilterList {
        overflow-x: scroll;
    }

    .BrandProductHome {
        overflow-x: scroll;

    }
    .BrandProductHome , .FilterCategory ,.FilterProduct {
        padding: 0 4px;
    }
}