.wrapper {
    height: 600px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.mySwiper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

}

.swiper-slide-show {
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slider-item {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// ///////////////////////////////////// 
.slider-content {
    height: 50%;
    width: 70%;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    display: flex;
    flex-direction: column;

    .text {
        color: #fff;
        width: 100%;
        font-weight: 300;
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: text 2s ease-in-out;
    }

    .top {
        display: flex;
        width: 100%;
        height: 50%;

        .inline {
            width: 50%;
            height: 100%;
            border: 5px solid #fff;
            border-bottom: 0;
        }

        .inline1 {
            border-right: 0;
            border-top-left-radius: 10px;
            animation: left-in .6s ease-in;
            // animation: copos360- .6s ease-in;
        }

        .inline2 {
            border-left: 0;
            border-top-right-radius: 10px;
            animation: right-in .6s ease-in;
            // animation: copos360 .6s ease-in;

        }
    }

    .bottom {
        width: 100%;
        height: 50%;
        display: flex;

        .inline {
            width: 50%;
            border: 5px solid #fff;
            border-top: 0;
        }

        .inline1 {
            border-right: 0;
            border-bottom-left-radius: 10px;
            animation: top-in .6s ease-in;
            animation: copos .6s ease-in;
        }

        .inline2 {
            border: none;
            position: relative;

        }

        .inline3 {
            border-left: 0;
            border-bottom-right-radius: 10px;
            animation: top-in .6s ease-in;
            animation: copos- .6s ease-in;
        }
    }

}

@keyframes left-in {
    0% {
        transform: translateX(-100%);
        opacity: 0.4;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes right-in {
    0% {
        transform: translateX(100%);
        opacity: 0.4;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes top-in {
    0% {
        transform: translateY(-100%);
        opacity: 0.4;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes copos360- {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    100% {
        transform: rotate(-360deg) translate(0px, 10px);
    }
}

@keyframes copos360 {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    100% {
        transform: rotate(360deg) translate(0px, 10px);
    }
}

@keyframes copos {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    100% {
        transform: rotate(360deg) translate(0px, 10px);
    }
}

@keyframes copos- {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    100% {
        transform: rotate(-360deg) translate(0px, 10px);
    }
}

@keyframes text {
    0% {
        transform: translateY(-1000%);
    }

    30% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(-40%);
    }

    70% {
        transform: translateY(-50%);
    }

    90% {
        transform: translateY(-40%);
    }
}